.navbar{
    padding: 0;
    //backdrop-filter: blur(9px);
    /** height: 73px;
    background-color: @misty-rose;
    */
    
    #login-button {
        background-color: @dark;
    }
    &-content{
        @media screen and (min-width: @md){
            flex-direction: column;
            height: 100vh;
        }
        
    }
    &-expand-md &-nav{
        @media screen and (min-width: @md) {
                flex-direction: column;
                margin: 40px 0;
            }
        
    }
    &-brand{
        padding: 10px 15px;
        border-bottom: 1px solid hsla(0, 0%, 100%, .2);
    }
    &-link{
        text-transform: uppercase;
        line-height: 30px;
        font-size: 12px;
        font-weight: 600;
        @media screen and (min-width: @md) {
            color: @light;
            margin: 5px 15px;
            opacity: .86;
            border-radius: 4px;
            display: block;
            padding: 10px 15px;
            width: 200px;
        }
        &:hover{
            background: hsla(0, 0%, 100%, .13);
            opacity: 1;
            color: @light;
        }
    }
    .active{
        color: @light;
        opacity: 1;
        background: hsla(0, 0%, 100%, .23);
        @media screen and (min-width: @md) {
            
        }
    }
    backdrop-filter: blur(16px);
    @media screen and (min-width: @md){
        width: 260px;
        height: 100vh;
        display: flex;
        flex-direction: column;

   }

}
