@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import './variables.less';
@import './fonts.less';
@import './variants.less';
@import '../Routes/styles.less';
@import '../UI/styles.less';
.app {
    color: @dark;
    font-size: @font-size-base;
    padding: 20px;
    background-color: @light;
}
.glass{
    
    &-button{
        backdrop-filter: blur(16px);
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.06);
        border: 1px solid rgba(255, 255, 255, 0.1);
        justify-content: space-evenly;
        &:hover {
            background-color: rgba(222, 222, 222, 0.6)
        }
    }
    &-panel{
        background-color: rgba(255, 255, 255, 0.06);
        border: 1px solid rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
    }
    
    
}


//
.content{
    
    background-color: @gray-light;
    padding-top: 80px;
    min-height: 100vh;
    @media screen and (min-width: @md) {
        margin-left: 260px;
        width: calc(100vw - 260px)
    }
    &-wrapper{
        background: linear-gradient(270deg, @dark, @secondary-dark, @primary-dark);
        background-size: 600% 600%;
        padding: 0;
        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite;
    }
}

//animated gradient
@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}