@import './variables.less';
@import './fonts.less';
@import '../Routes/styles.less';
@import '../UI/styles.less';
.app {
    color: @dark;
    font-size: @font-size-base;
    padding: 20px;
    background-color: @light;
}
.glass{
    
    &-button{
        backdrop-filter: blur(16px);
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.06);
        border: 1px solid rgba(255, 255, 255, 0.1);
        justify-content: space-evenly;
        &:hover {
            background-color: rgba(222, 222, 222, 0.6)
        }
    }
    &-panel{
        background-color: rgba(255, 255, 255, 0.06);
        border: 1px solid rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
    }
    
    
}