@misty-rose: #F5E2DF;
@reseda-garden: #5C7457;
@floral-white: #FCFAF3;
@eerie-black: #191E19;
@floral-gold: rgb(141, 110, 1);

@primary: @reseda-garden;
@secondary: @misty-rose;
@light: @floral-white;
@dark: @eerie-black;


@font-size-base: 16px;


/* Break Points */
@md: 700px;
@sm: 428px;