@misty-rose: #F5E2DF;
@misty-rose-dark: #ecc1bb;
@reseda-garden: #5C7457;
@reseda-garden-light: #9aaf95;
@reseda-garden-light-opace: #9aaf9580;
@reseda-garden-dark: #3c5a37;
@floral-white: #FCFAF3;
@eerie-black: #191E19;
@floral-gold: rgb(141, 110, 1);
@gray: #a6a6a6;
@gray-light: #eaeaec9e;

@primary: @reseda-garden;
@primary-dark: @reseda-garden-dark;
@primary-light: @reseda-garden-light;
@primary-light-opace: @reseda-garden-light-opace;
@secondary: @misty-rose;
@secondary-dark: @misty-rose-dark;
@light: @floral-white;
@dark: @eerie-black;


@font-size-base: 16px;


/* Break Points */
@md: 768px;
@sm: 428px;